<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.dev_playground.jeju_road">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="github.dev_playground.JejuRoadApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_jeju_load"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_jeju_load_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jejuroad"
        android:usesCleartextTraffic="true">

        <activity
            android:name="github.dev_playground.jeju_road.presentation.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.main.MainActivity"/>
        <activity android:name="github.dev_playground.jeju_road.presentation.ui.page.RestaurantDetailActivity" />
        <activity android:name="github.dev_playground.jeju_road.presentation.ui.image.FullSizeImageActivity" />
        <activity android:name=".presentation.ui.error.GlobalErrorActivity"/>
    </application>
</manifest>